<!DOCTYPE html>
<html>

<head>
  <title>詳細案内</title>
  <%= stylesheet_link_tag 'show' %>
</head>
<div class="contents">
  <h1>映画詳細</h1>
  <div class="sca">
    <h2>上映スケジュール</h2>
    <table>
      <thead>
        <tr>
          <th>上映開始時間</th>
          <th>上映終了時間</th>
        </tr>
        <% @schedules.each do |schedule| %>
        <tr>
          <td>
            <%= schedule.start_time %>
          </td>
          <td>
            <%= schedule.end_time %>
          </td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
<div class="content">
  <h2>映画詳細</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>映画タイトル</th>
        <th>公開年</th>
        <th>上映中か</th>
        <th>概要</th>
        <th>画像URL</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @movie.id %>
        </td>
        <td>
          <%= @movie.name %>
        </td>
        <td>
          <%= @movie.year %>
        </td>
        <td>
          <%= @movie.description %>
        </td>
        <td>
          <%= @movie.image_url %>
        </td>
        <td>
          <% if @movie.is_showing==true %>
            上映中
            <% else %>
              上映予定
              <% end %>
        </td>
        <td>
          <%= @movie.created_at %>
        </td>
        <td>
          <%= @movie.updated_at %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</html>