<!DOCTYPE html>
<html>
  <div>
    <% if @movie.errors.any? %>
      <div class="error-alert">
        <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li class="error-message text-danger">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= form_with model: [:admin, @movie], local: true do |f| %>
    <div class="field mb-1">
      <%= f.label :映画タイトル %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :name, class:"form-control",placeholder:"映画タイトル" %>
    </div>
    <div class="field mb-1">
      <%= f.label :公開年 %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :year, class:"form-control",placeholder:"公開年" %>
    </div>
    <div class="field mb-2 ">
      <%= f.label :上映中か %>
      <%= f.select :is_showing, [["上映中", 1 ], ["公開予定", 0 ]], selected: @movie.is_showing %>
    </div>
    <div class="field mb-1">
      <%= f.label :概要 %>
      <%= f.text_area :description, class:"form-control", placeholder:"概要" %>
    </div>
    <div class="field mb-1">
      <%= f.label :画像URL %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :image_url, class:"form-control",placeholder:"画像URL" %>
    </div>
    <div class="actions text-center">
      <%= f.submit "Save Change" %>
    </div>
  <% end %>
</html>
