<!DOCTYPE html>
<html>
<div class="top">
  <h1>Movies</h1>
</div>
<% @movies.each do |movie| %>
  <div class="actions">
    <table>
      <thead>
        <tr>
          <td>
            <%= movie.id %>
          </td>
          <td>
            <%= movie.name %>
          </td>
          <td>
            <%= movie.year %>
          </td>
          <td>
            <%= movie.description %>
          </td>
          <td>
            <%= movie.image_url %>
          </td>
          <td>
            <% if movie.is_showing %>
              上映中
              <% else %>
                上映予定
                <% end %>
          </td>
          <td>
            <%= movie.created_at %>
          </td>
          <td>
            <%= movie.updated_at %>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <% end %>

</html>