<!DOCTYPE html>
<html>
<div class="top">
  <h1>Movies</h1>
</div>
<div>
  <% if flash.any? %>
    <div class="error-alert">
      <ul>
        <% flash.each do |name, message| %>
          <li class="error-message text-danger">
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
</div>
<% @movies.each do |movie| %>
  <div class="actions">
    <table>
      <thead>
        <tr>
          <td>
            <%= link_to movie.id, edit_admin_movie_path(movie) %>
          </td>
          <td>
            <%= movie.name %>
          </td>
          <td>
            <%= movie.year %>
          </td>
          <td>
            <%= movie.description %>
          </td>
          <td>
            <%= movie.image_url %>
          </td>
          <td>
            <% if movie.is_showing %>
              上映中
              <% else %>
                上映予定
                <% end %>
          </td>
          <td>
            <%= movie.created_at %>
          </td>
          <td>
            <%= movie.updated_at %>
          </td>
          <td>
            <%= link_to '削除' , admin_movie_path(movie), method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <% end %>

</html>