<!DOCTYPE html>
<html>
  <h1>予約ページ</h1>
  <head>
    <title>予約ページ</title>
  </head>
  <div>
    <% if @reservation.errors.any? %>
      <div class="error-alert">
        <ul>
          <% @reservation.errors.full_messages.each do |message| %>
            <li class="error-message text-danger">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model: @reservation, local: true do |f| %>
      <div class="field mb-1">
        <% if !@movie.nil? %>
          <%= f.label :選択中の映画 %><span class="badge badge-danger ml-1"></span>
          <%= f.text_field :movie_name, value: @movie.name, class:"form-control", readonly: true %>
          <%= f.hidden_field :movie_id, value: @movie.id %>
        <% end %>
      </div>
      <div class="field mb-1">
        <%= f.label :選択中の日時 %><span class="badge badge-danger ml-1"></span>
        <%= f.text_field :date, value: params[:date], class:"form-control", readonly: true %>
      </div>
      <div class="field mb-1">
        <%= f.label :座席 %><span class="badge badge-danger ml-1"></span>
        <%= f.text_field :sheet_id, value: params[:sheet_id], class:"form-control", readonly: true %>
      </div>
      <div class="field mb-1">
        <%= f.label :スケジュールID %><span class="badge badge-danger ml-1"></span>
        <%= f.text_field :schedule_id, value: params[:schedule_id], class:"form-control", readonly: true
                            %>
      </div>
      <div class="field mb-1">
        <%= f.label :氏名 %><span class="badge badge-danger ml-1"></span>
        <%= f.text_field :name, class:"form-control",placeholder:"入力してください" %>
      </div>
      <div class="field mb-1">
        <%= f.label :メールアドレス %><span class="badge badge-danger ml-1"></span>
        <%= f.text_field :email, class:"form-control",placeholder:"入力してください" %>
      </div>
      <%= f.submit "予約する" %>
    <% end %>
  </div>
</html>
