<!DOCTYPE html>
<html>
  <div>
    <% if @schedule.errors.any? %>
      <div class="error-alert">
        <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li class="error-message text-danger">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= form_with model: [:admin, @schedule], local: true do |f| %>
    <div class="field mb-1">
      <%= f.label :上映映画ID %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :movie_id, class:"form-control",placeholder:"上映映画ID" %>
    </div>
    <div class="field mb-1">
      <%= f.label :劇場ID %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :theater_id, class:"form-control",placeholder:"劇場ID" %>
    </div>
    <div class="field mb-1">
      <%= f.label :上映開始時間 %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :start_time, class:"form-control",placeholder:"上映開始時間" %>
    </div>
    <div class="field mb-1">
      <%= f.label :上映終了時間 %><span class="badge badge-danger ml-1"></span>
      <%= f.text_field :end_time, class:"form-control",placeholder:"上映終了時間" %>
    </div>
    <div class="actions text-center">
      <%= f.submit "Save Change" %>
    </div>
  <% end %>
</html>
